{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Статистика</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Количество бронирований</h5>
                    <p class="card-text">120</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Доходы</h5>
                    <p class="card-text">500 000 руб</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Активные пользователи</h5>
                    <p class="card-text">200</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}